#banner {
    background: linear-gradient(90deg, rgba(255,87,10,1) 0%, rgba(247,145,0,1) 36%, rgba(3,225,51,1) 100%);
    color: #fff;
    padding-top: 25px;
    text-align: center;
    width: 100%;

        }
#rodape {
    background-color: hsla(124, 93%, 35%, 0.961);
    color: #fff;
    padding: 15px;
    text-align: center;
    position:static;
    bottom: 0;
    width: 100%;
        }
.carousel-container {
    width: 100%; 
    height: 400px;
          }
.carousel-item img {
    width: 100%;
    height: 380px;
    object-fit: cover;
          }
#imagemHome {
    
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: right ;
    padding: 20px;
}

.botoes{  
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 20%;
    padding-top: 1%;
    background-color: linear-gradient(90deg, rgba(255,87,10,1) 0%, rgba(255,255,240,1) 50%, rgba(3,225,51,1) 100%);
}

.texto-home {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 16px; 
    line-height: 1.4; 
    color: #333; 
    margin-bottom: 20px;
}

.texto-home-titulo {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 24px; 
    line-height: 1.4; 
    color: #333; 
    margin-bottom: 20px;
}

.div-texto-img{
    padding-top: 5%;
}

